@media (max-width: 768px) {
    body {
        background-position:center;
        padding: 0 15px;
        height: 100vh;
    }

    .slider {
        gap: 10px;
    }
}

@media (max-width: 496px) {
    body{
        height: 100vh;
    }

    .list-personagens {
        width: 250px;
        position: relative;
    } 

    .cartao {
        top: 45%;
        left: 50%;

        transform: translate(-75%, -50%);
    }
    .carta-img {
        width:150%;
    }

    .slider {
        position: relative;
    }

}
